<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="from" value="sqlserver"/>
    <add key="to" value="postgresql"/>
  </appSettings>
  <connectionStrings>
    <add name="ExportConnectionString" connectionString="Data Source=[source];Initial Catalog=[catalog];User ID=[username];Password=[password];Connect Timeout=100"/>
    <add name="ImportConnectionString" connectionString="Server=[source];Port=5432;Database=[catalog];User Id=[username];Password=[password];" />
  </connectionStrings>
</configuration>